//====================================================================================================
.footer {
    padding: 100px 0px;
    background-color: #191F2C;
    position: relative;
    // .footer__container

    &__container {}

    // .footer__body

    &__body {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        justify-content: space-between;
    }

    // .footer__col

    &__col {
        text-align: center;
    }

    // .footer__title

    &__title {
        color: $white;
        font-size: 25px;
        margin-bottom: 20px;
    }

    // .footer__list

    &__list {

        text-align: center;

        li {
            margin-bottom: 20px;
            color: $white;

            i {
                margin-right: 10px;
            }
        }
    }

    // .footer__order
    &__order {
        background-color: $accent;
        padding: 10px 15px;
        display: inline-flex;
        border-radius: 8px;

    }
}

.author{
    background-color: $accent;
    padding: 20px 0px;

    &__container{}

    &__body{
        text-align: center;
        color: #ffffff;

        a{
            font-weight: 600;
            text-decoration: underline;
        }
    }
}

//====================================================================================================